* {
  /* background-color: #444; */
  margin: 0;
  padding: 0;
}

header{
    background-color: #222;
    width: 100%;
    height:100px;
}

.container {
  background: yellow;
  display: flex;
  align-items: center;
  height: 150px;
  max-width: 70%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  border:dotted red 3px;
}

.top-img {
  align-items: center;
  justify-content: center;
}

img {
  width: 150px;
  height: 200px;
  margin-top: 250px;
}

/* article {
  width: 150px;
  height: 200px;
} */
main{
    border:dotted rgb(108, 202, 233) 2px;
}